---
import Websitelogo from "../assets/icon/logovault.svg";
import OpenMenu from "../assets/icon/menuopen.svg";
import CloseMenu from "../assets/icon/menuclose.svg";
---

<header id="p" class="bg-[#0B0121] p-4 lg:h-18">
    <nav
        id="home"
        class="container flex justify-between items-center mx-auto"
        x-data="{ showMobileMenu: false }"
    >
        <div class="flex items-start justify-between w-full">
            <a href="#" class="text-lg font-bold">
                <Websitelogo class="w-40 inline-block mr-2" />
            </a>

            <ul
                class="hidden lg:flex items-center space-x-8 font-principal font-normal"
            >
                <li>
                    <a href="#features" class="text-white hover:text-gray-300"
                        >Features</a>
                </li>
                <li>
                    <a href="#pricing" class="text-white hover:text-gray-300"
                        >Pricing</a>
                </li>
                <li>
                    <a href="#about_us" class="text-white hover:text-gray-300"
                        >About us</a>
                </li>
                <li>
                    <button
                        id="button-download"
                        class="text-[#0B0121] bg-white px-5 py-2 rounded-full transition hover:bg-secondary"
                    >
                        Download the app
                    </button>
                </li>
                <li>
                    <button
                        id="button-expert"
                        class="text-white border-white px-5 py-2 border rounded-full transition hover:bg-secondary"
                    >
                        Talk to an expert
                    </button>
                </li>
            </ul>
        </div>
        <div
            class="flex flex-row items-center space-x-8 font-principal font-normal"
        >
            <!-- <a href="#" class="text-lg font-bold">
        <Websitelogo class="w-40 inline-block mr-2" />
      </a> -->
            <button
                @click="showMobileMenu = !showMobileMenu"
                class="lg:hidden focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white px-2 py-2 rounded-md text-black"
                :aria-expanded="showMobileMenu.toString()"
                aria-label="Toggle menu"
            >
                <div
                    class="bg-mobilemenu p-4 rounded-lg"
                    x-show="!showMobileMenu"
                >
                    <OpenMenu class="h-6 w-6" />
                </div>
                <div
                    class="bg-mobilemenu p-4 rounded-lg"
                    x-show="showMobileMenu"
                >
                    <CloseMenu class="h-6 w-6" />
                </div>
            </button>
        </div>
        <div
            class="min-w-screen bg-background text-white absolute top-25 left-0 w-full h-full lg:hidden"
            x-show="showMobileMenu"
            @click.away="showMobileMenu = false"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 transform translate-x-full"
            x-transition:enter-end="opacity-100 transform translate-x-0"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="opacity-100 transform translate-x-0"
            x-transition:leave-end="opacity-0 transform translate-x-full"
        >
            <ul class="flex flex-col items-left space-y-6 pt-5">
                <li>
                    <a href="#features" class="text-white hover:text-gray-300"
                        >Features</a>
                </li>
                <li>
                    <a href="#pricing" class="text-white hover:text-gray-300"
                        >Pricing</a>
                </li>
                <li>
                    <a href="#about_us" class="text-white hover:text-gray-300"
                        >About us</a>
                </li>
                <li>
                    <button
                        id="button-expert"
                        class="text-white border-white px-5 py-2 border rounded-full transition hover:bg-secondary"
                    >
                        Talk to an expert
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</header>
